@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Saint-Carell";
  src: url("./assets/fonts/SaintCarellClean_PERSONAL_USE_ONLY.otf")
    format("truetype");
}

/* Remove default smooth scroll behavior */
html {
  scroll-behavior: auto !important;
}

/* Add custom scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #ad59ce;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}


.video-fade-enter {
  opacity: 0;
}

.video-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.video-fade-exit {
  opacity: 1;
}

.video-fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.guests {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - 80px); /* Adjust for the black bars */
  overflow: hidden;
}

.scroll-container::before,
.scroll-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.scroll-container::before {
  left: 0;
}

.scroll-container::after {
  right: 0;
}

.imgscroll {
  display: flex;
  gap: 30px;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(-100%);
  }
}

.imgscroll img {
  width: 300px;
  border-radius: 15px;
  transition: 0.5s;
}

.imgscroll img:hover {
  width: 315px;
  transition: 0.5s;
  box-shadow: 0 0 151px #9200baad;
}


